<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css">


</head>
<body> 
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form method="POST" class="login100-form validate-form">
					<select id="Background_c" name="Background_C">
                        <option value="white">White</option>
                        <option value="Blue">Blue</option>
                         <option value="Green">Green</option>
                         <option value="Red">Red</option>
                         <option value="yellor">Yellow</option>
                    </select>
						<button type="submit" value="enviar" class="login100-form-btn">
							Enviar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>