
<html>
<head>
	


</head>
<body>
		<h1>List of Top Movies</h1>
		<ul>
			<% for (let i = 0; i <peliculas.length; i++) {%>
				<li>
					<a href="/movies/<%=movies[i].id%>">
					<%= movies[i].title %>
					</a>
				
				</li>

			<% } %>


		</ul>

</body>
</html>